@model IEnumerable<Walkabouts.Services.DTO.CatalogItemDTO>

@{
    ViewData["Title"] = "Catalog";
}

<h1>Catalog</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="col-md-12 container-fluid">
    @foreach (var item in Model)
    {
        <div class="card card-outline-primary m-1 p-1">
            <div class="bg-faded p-1">
                <h4>
                    @item.ProductName
                    <span class="badge badge-pill badge-primary" style="float:right">
                        <small>@item.UnitPrice.ToString("c")</small>
                    </span>
                </h4>
            </div>
            <div class="card-text p-1">@item.Description</div>
            <div class="card-footer">
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |

            </div>


        </div>
    }
</div> 
